.full-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // full viewport height
    background-color: var(--color-background);
}

.login-card {
    background-color: var(--color-surface);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
